<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <br>
      <br>
      <h3>{{ 'auth.forget-password' | translate }}</h3>
      <br>
      <h6>{{'auth.forget-password-message' | translate}}</h6>
      <br>
      <form  (ngSubmit)="getNewPass()" [formGroup]="forgetform"  novalidate>
        <div class="form-content">
          <div class="form-group"
               [ngClass]="{
                      'text-success': forgetPassword.valid && (forgetPassword.dirty || forgetPassword.touched),
                      'text-danger':  forgetPassword.invalid && (forgetPassword.dirty || forgetPassword.touched)
                        }">
            <input formControlName="forgetPassword" name="username" type="text"  class="form-control input-underline input-lg" id="" placeholder="{{ 'auth.user-name' | translate }}">
            <br>
            <div
              class="form-control-feedback"
              *ngIf="forgetPassword.invalid && (forgetPassword.dirty || forgetPassword.touched)">
              <p>{{ 'auth.forget-password-message-er' | translate }}</p>
            </div>
          </div>

          <button class="btn success-button-dark" [disabled]="forgetform.invalid" >{{ 'shared.confirm-title-forget' | translate }}</button>
          <button type="button" (click)="forgetCancelButton()" class="btn danger-button-dark forgetBtn"  >{{ 'shared.cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
