<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="130px" class="user-avatar" />
      <h3>{{ 'auth.change-password' | translate }}</h3>
      <form  (ngSubmit)="changePass()" [formGroup]="changeform"  novalidate>
        <div class="form-content">
          <div class="form-group"
               [ngClass]="{
                      'text-success': newPassword.valid && (newPassword.dirty || newPassword.touched),
                      'text-danger':  newPassword.invalid && (newPassword.dirty || newPassword.touched)
                        }">
            <input
              formControlName="newPassword"
              type="password"
              class="form-control input-underline input-lg"
              id="newPassword"
              placeholder="{{ 'auth.new-password' | translate }}">
            <br>

            <div class="form-control-feedback"
              *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)"
              >
              <p *ngIf="f.newPassword.errors.required && (newPassword.dirty || newPassword.touched)">{{ 'auth.new-password-message' | translate }}</p>
              <p *ngIf="f.newPassword.errors.minlength && (newPassword.dirty || newPassword.touched)">{{ 'auth.password-message-length' | translate }}</p>
            </div>
          </div>

          <div class="form-group"
               [ngClass]="{
                      'text-success': confirmedPassword.valid && (confirmedPassword.dirty || confirmedPassword.touched),
                      'text-danger':  confirmedPassword.invalid && (confirmedPassword.dirty || confirmedPassword.touched)
                        }">
            <input
              formControlName="confirmedPassword"
              type="password"
              class="form-control input-underline input-lg"
              id="confirmPassword"
              placeholder="{{ 'auth.confirm-password' | translate }}">
            <br>
            <div
              class="form-control-feedback"
              *ngIf="confirmedPassword.errors && (confirmedPassword.dirty || confirmedPassword.touched)">
              <p *ngIf="f.confirmedPassword.errors.required && (confirmedPassword.dirty || confirmedPassword.touched)">{{ 'auth.confirmed-password-message' | translate }}</p>
              <p *ngIf="f.confirmedPassword.errors.minlength && (confirmedPassword.dirty || confirmedPassword.touched)">{{ 'auth.password-message-length' | translate }}</p>
            </div>
          </div>

          <p class="text-danger"
            *ngIf="(newPassword.value != confirmedPassword.value) && (confirmedPassword.touched && newPassword.touched) && (confirmedPassword.valid && confirmedPassword.valid)">
            <strong>{{ 'auth.password-match-message' | translate }}</strong>
          </p>

          <button type="submit" class="btn success-button-dark changeBtn" [disabled]="changeform.invalid || (newPassword.value != confirmedPassword.value) || (confirmedPassword.untouched && newPassword.untouched)" >{{ 'auth.submit' | translate }}</button>
          <button type="button" (click)="changeCancelButton()" class="btn danger-button-dark changeBtn"  >{{ 'shared.cancel' | translate }}</button>

        </div>

      </form>
    </div>
  </div>
</div>
